/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* -----------------------------------------------------------------
    Document Setup (body,link)
----------------------------------------------------------------- */

body {
    background: #fff url(../img/bg_html_w.jpg) no-repeat top center fixed;
    color: #2b2b2b;
}

a:hover {
	text-decoration: none;
}

/* -----------------------------------------------------------------
    Typography
----------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { font-weight: normal; }

/* -----------------------------------------------------------------
    Template
----------------------------------------------------------------- */
.container {
	background-color: #fff;
}
.header {
	position: relative;
}
.menu-unit {
	width: 220px;
	position: absolute;
	left: 20px;
	z-index: 9999;
}
.logo {}
.menu-main {
	background-color: #0090ba;
}
	.menu-main ul {}
	.menu-main ul li {
		/*border-bottom: 1px solid #eeeeee;*/
	}
	.menu-main ul li a {
		width: 100%;
		display: inline-block;
		padding: 8px 20px;
		color: #fff;
		text-decoration: none;
	}
	.menu-main ul li a:hover {
		background-color: #007ca0;
	}

.sitename {
	position: absolute;
	z-index: 9998;
	right: 20px;
	background-color: #13839c;
	padding: 10px;
	font-size: 22px;
	color: #fff;
	display: inline-block;
}

.bgslider {
	width: 100%;
	height: 500px;
}

.content {
    margin-top: 10px;
}

/* Article Unit 
--------------------------------------------------*/
.article-unit {
	padding: 15px;
	float: left;
	overflow: auto;
	width: 100%;
	background-color: #13839c;
}
.article-unit-blue {
	/*background-color: #13839c;*/
}
.article-unit-softblue {
	/*background-color: #a8d9ec;*/
}
	.article-unit-title {
		color: #ccc;
		font-size: 13px;
		margin-top: 5px;
	}
	.article-fatured {}
	.article-fatured-detail {

	}
	.article-fatured h1 {
		font-size: 14px;
		margin: 0;
		line-height: 18px;
	}
	.article-fatured h1 a {
		color: #fff;
	}
		.article-fatured h1 a:hover {
			color: #000;
		}
	.article-date {}
	.article-link {
		color: #eee;
	}
		.article-link:hover {
			color: #000;
		}
	.article-img {
		margin-right: 15px;
	}

/* Leader Unit 
--------------------------------------------------*/
.leader-unit {
	padding: 5px 15px 15px;
	float: left;
	overflow: auto;
	width: 100%;
}
	.leader-unit-title {
		color: #ccc;
		font-size: 13px;
		margin-top: 5px;
	}
	.leader-img {
		margin-right: 20px;
	}
	.leader-img img { 
		border: 10px solid #eee; 
	}
	.leader-title {
		margin-top: 20px;
		font-size: 15px;
	}
	.leader-link {}

/* Footer
--------------------------------------------------*/
.footer {
	padding: 15px;
	margin-top: 20px;
	background-color: #2b2b2b;
	color: #fff;
	overflow: auto;
}
.footer-left {
	width: 500px;
}
.footer-logo {
	float: left;
	margin-right: 10px;
}















